<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="product name" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>

<div class="button-row">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="product name" value="search for product" [(ngModel)]="product">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="search()">Next</button>
</div>
<div class="button-row">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="category name" value="search for category" [(ngModel)]="category">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="search()">Next</button>
</div>
<div class="button-row" *ngIf="searched === true">
 {{results}}
</div>